@use "sass:map";
@use "sass:color";

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/*
Block Editor classes
*/

@each $slug, $color in $theme-colors {
  .has-#{$slug}-background-color {
    background-color: map.get($color, "background");
    color: map.get($color, "text");

    a:not(.wp-block-button__link) {
      color: map.get($color, "link");
    }

    .wp-block-button__link {
      background-color: map.get($color, "button");
      color: map.get($color, "text");

      &:hover,
      &:focus,
      &:active {
        background-color: color.adjust(map.get($color, "button"), $lightness: -10%);
        color: map.get($color, "text");
      }
    }
  }

  .has-#{$slug}-color {
    color: map.get($color, "text");
  }
}
